<div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="https://creative-tim.com/presentation">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      Todos los Derechos Reservados - Copyright ®  2020
    </div>
  </div>
    <!--   Core JS Files   -->
    <script src="http://localhost:3000/static/js/core/jquery.min.js"></script>
    <script src="http://localhost:3000/static/js/core/popper.min.js"></script>
    <script src="http://localhost:3000/static/js/core/bootstrap-material-design.min.js"></script>
    <script src="http://localhost:3000/static/js/plugins/perfect-scrollbar.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <script src="http://localhost:3000/static/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="http://localhost:3000/static/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="http://localhost:3000/static/js/material-dashboard.js?v=2.2.2" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->